body {
    background: white;
    margin: 0;
    padding: 100px 0 0 75px;
    }
    h1 {
    color: black;
    font-style: italic;
    }
    h2 {
    color: #717171;
    }
    p {
    font: normal 100%/1.5 Helvetica, Arial, Sans-serif;
    color: #313131;
    }
