.contenedor > p{
    font-family: Arial, Helvetica, sans-serif important;
}
body{
    background-color: #222d2d;
}
div.capitulos > p{
    color: black;
}
.capitulos{
    background-color: #e0e0e0;
}
p.izquierda{ 
    float: left;
}
p.derecha{
    float: right;
}
.capitulos p{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix{
    float: none;
    clear: both;
}
.capitulodos{
    font-size: 20px;
    color: #0807ff;
}
p{
    color: #0e8b09;    
}